@charset "UTF-8";

/* DEFINIÇÃO DE VARIÁVEIS */

:root {
    --roxo1: #FCF2FF;
    --roxo2: #DBC1F6;
    --roxo3: #C8A4F4;
    --roxo4: #CEB4E8;
    --roxo5: #A88DC3;
    --roxo6: #827AB5;
    --roxo7: #250E2B;
    --roxo8: #100014;

    --tituloPrincipal: 'Pacifico';
    --textoComum: "Roboto Mono", monospace;
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../media/backgroundSite.png'), linear-gradient(to bottom, var(--roxo7), var(--roxo6));
}

h1 {
    font-family: var(--tituloPrincipal);
}

h2, h3  {
    font-family: var(--textoComum);
    font-size: 1.5em;
    color: var(--roxo8);
    font-weight: bold;
    text-align: left;
}

h4 {
    font-family: var(--textoComum);
    font-size: 1.2em;
    color: var(--roxo8);
    font-weight: bold;
    text-align: left;
}

p {
    font-family: var(--textoComum);
    font-size: 1.2em;
}

a#botaoVoltarAoTopo {
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: rgba(93, 64, 160, 0.349);
    padding: 15px;
    border-radius: 50%;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
}

a#botaoVoltarAoTopo img{
    width: 20px;
    height: 20px;
    position: fixed;
    bottom:20px;
    right: 20px;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

a#botaoVoltarAoTopo:hover{
    background-color: rgba(183, 164, 228, 0.384);
}

.fadeInElemento {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* Estado final: visível na posição original (ativado pelo JavaScript) */
.fadeInElemento.visivel {
    opacity: 1;
    transform: translateY(0);
}

/* CABEÇALHO */

header {
    background: rgba(42, 31, 68, 0.8) url('../media/backgroundBody.jpg') center / cover;
    backdrop-filter: blur(10px); 
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 90px;
    text-align: center;
}

ul li a {
    display: block;
    font-family: var(--textoComum);
    font-size: 16px;
    font-weight: bold;
    color: var(--roxo1);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

#menuHamburguer {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

#linksNavegacao {
    display: none;
    cursor: pointer;
}

#fecharMenu {    
    display: none;
    background: none;
    border: none;
}

#menuHamburguer img, #fecharMenu img {
    width: 30px;
    height: auto;
}

#linksNavegacao li {
    border-radius: 10px;
    list-style-type: none;
    background-color: rgba(93, 64, 160, 0.562);
    padding: 15px 30px;
    margin: 15px 30px;  
    width: 90vw;
    transition: transform 0.3s ease-in-out;
}
nav.menuAberto #linksNavegacao li:hover {
    background-color: rgba(191, 180, 218, 0.151);
    width: 90vw;
    transform: scale(1.02);
    cursor: pointer;
}

nav.menuAberto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto; 
    background: rgba(42, 31, 68, 0.8) url('../media/backgroundBody.jpg') center / cover;
    backdrop-filter: blur(10px);     
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav.menuAberto #menuHamburguer {
    display: none;
}

nav.menuAberto #linksNavegacao,
nav.menuAberto #fecharMenu {
    display: block;
}

nav.menuAberto #linksNavegacao li:hover {
    background-color: rgba(219, 193, 246, 0.50);
}

nav.menuAberto #linksNavegacao li.ativo {
    background-color: rgba(219, 193, 246, 0.50);
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

main span {
    font-weight: bold;
}

main .divisoria{
    width: 100%;
    height: 30px;
    background: linear-gradient(
        to right, 
        var(--roxo8),
        var(--roxo7)
    );
}

/* (MAIN) SOBRE */

#sobre .estrelaEnfeite {
    margin: 30px 30px 0 30px;
}

main #sobre {
    position: relative;
    z-index: -2;
    padding: 0 0 60px 0;
    background: linear-gradient(
        to bottom, 
        var(--roxo2),
        var(--roxo1),
        var(--roxo1),
        var(--roxo1)
    );
}

main #sobre .divisoriaSobre {
    position: absolute;
    top: 430px;
    z-index: -1;
}

main #sobre h1 {
    font-family: var(--tituloPrincipal);
    font-size: 4em;
    color: var(--roxo7);
    text-align: center;
}

main #sobre p {
    font-family: var(--textoComum);
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    color: var(--roxo8);
    text-align: center;
}

.subtitulo::after {
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: piscar 0.7s infinite;
}

.fotoPerfil {
    margin: 30px;
    width: 90vw;
    max-width: 370px;
    height: auto;
    border-radius: 10px 100px;
    box-shadow: 0 0 0 5px rgb(37, 14, 43);
}

.tituloSobreMim {
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--roxo7);
    padding: 0px 30px 30px 30px;
}

.containerSobreMim {
    text-align: left;
}

.tituloSobreMim img {
    width: 30px;
    height: auto;
    margin-right: 15px;
}

#sobre p.textoSobre {
    font-weight: normal;
    margin: 0 30px 30px 30px;
    text-align: left;
}

/* (MAIN) EDUCACAO */

#educacao {
    width: 100%;
    padding:  30px 30px 60px 30px;
    background: linear-gradient(
        to left, 
        var(--roxo3),
        var(--roxo2)
    );
}

#educacao .estrelaEnfeite {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container #educacaoIcone  {
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.cursos h3, .idiomas h3 {
    font-size: 1.5em;
    color: var(--roxo6);
    text-align: left;
    text-decoration: dotted underline var(--roxo6);
    padding: 30px 0;
}

.idiomas h3 {
    margin: 30px 0 0 0;
}

.itemCurso div, .idiomas div {
    background-color: var(--roxo4);
    width: 100%;
    height: 2px;
    margin: 30px auto;
}

/* (MAIN) Projetos */

#portfolio {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
    background: linear-gradient(
        to bottom, 
        var(--roxo1),
        var(--roxo2)
    );
}

#portfolio h2 {
    padding: 30px 0;
    text-align: left;
}

#iconeProjeto {
    width: 30px;
    height: auto;
    margin-right: 15px;
}

.cartaoProjeto {
    width: 90vw;
    max-width: 500px;
    background-color: var(--roxo6);
    border-radius: 10px 60px;
    padding: 30px;
    margin: 30px auto;
    transition: transform 0.3s ease-in-out;
}

.cartaoProjeto a {
    text-decoration: none;
    color: var(--roxo8);
    transform: scale(1.02);
    cursor: pointer;
}

.cartaoProjeto  h3, p {
    text-align: left;
    color: var(--roxo8);
}


.cartaoProjeto img {
    width: 100%;
    height: auto;
    margin: 15px 0;
    border-radius: 10px;    
}

/* KEYFRAMES */

@keyframes piscar {
    0%, 100% {
        opacity: 1; 
    }
    50% {
        opacity: 0; 
    }
};
