@charset "UTF-8";

/* DEFINIÇÃO DE VARIÁVEIS */

:root {
    --roxo1: #FCF2FF;
    --roxo2: #DBC1F6;
    --roxo3: #C8A4F4;
    --roxo4: #CEB4E8;
    --roxo5: #A88DC3;
    --roxo6: #827AB5;
    --roxo7: #250E2B;
    --roxo8: #100014;

    --tituloPrincipal: 'Pacifico';
    --textoComum: monospace;
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../media/backgroundSite.png'), linear-gradient(to bottom, var(--roxo7), var(--roxo6));
}

h1 {
    font-family: var(--tituloPrincipal);
}

p {
    font-family: var(--textoComum);
    font-size: 1.2em;
}

header {
    background: rgba(42, 31, 68, 0.8) url('../media/backgroundBody.jpg') center / cover;
    backdrop-filter: blur(10px); 
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    text-align: center;
}

ul li a {
    display: block;
    font-family: var(--textoComum);
    font-size: 16px;
    font-weight: bold;
    color: var(--roxo1);
    text-decoration: none;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#menuHamburguer {
    display: block;
    position: fixed;
    top: 15px; 
    right: 15px; 
    z-index: 999;
    background: none;
    border: none;
    cursor: pointer;
}

#linksNavegacao {
    display: none;
    cursor: pointer;
}

#fecharMenu {    
    display: none;
    background: none;
    border: none;
}

#menuHamburguer img, #fecharMenu img {
    width: 30px;
    height: auto;
}

#linksNavegacao li {
    border-radius: 10px;
    list-style-type: none;
    background-color: rgba(93, 64, 160, 0.562);
    padding: 15px 30px;
    margin: 15px 30px;  
    width: 90vw;
}

#linksNavegacao li:hover {
    background-color: rgba(191, 180, 218, 0.582); 
    width: 90vw;
    cursor: pointer;
}

nav.menu-aberto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    background-color: rgba(var(--roxo7-rgb), 0.95);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav.menu-aberto #linksNavegacao li:hover {
    background-color: rgba(219, 193, 246, 0.50);
}