@charset "UTF-8";

/* DEFINIÇÃO DE VARIÁVEIS */

:root {
    --roxo1: #FCF2FF;
    --roxo2: #DBC1F6;
    --roxo3: #C8A4F4;
    --roxo4: #CEB4E8;
    --roxo5: #A88DC3;
    --roxo6: #827AB5;
    --roxo7: #250E2B;
    --roxo8: #100014;

    --tituloPrincipal: 'Pacifico';
    --textoComum: monospace;
}

/* CONFIGURAÇÕES GERAIS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../media/backgroundSite.png'), linear-gradient(to bottom, var(--roxo7), var(--roxo6));
}

h1 {
    font-family: var(--tituloPrincipal);
}

p {
    font-family: var(--textoComum);
    font-size: 1.2em;
}

/* CABEÇALHO */

header {
    background: rgba(42, 31, 68, 0.8) url('../media/backgroundBody.jpg') center / cover;
    backdrop-filter: blur(10px); 
    padding: 30px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100vw;
    height: 90px;
    text-align: center;
}

ul li a {
    display: block;
    font-family: var(--textoComum);
    font-size: 16px;
    font-weight: bold;
    color: var(--roxo1);
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

#menuHamburguer {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}

#linksNavegacao {
    display: none;
    cursor: pointer;
}

#fecharMenu {    
    display: none;
    background: none;
    border: none;
}

#menuHamburguer img, #fecharMenu img {
    width: 30px;
    height: auto;
}

#linksNavegacao li {
    border-radius: 10px;
    list-style-type: none;
    background-color: rgba(93, 64, 160, 0.562);
    padding: 15px 30px;
    margin: 15px 30px;  
    width: 90vw;
    transition: transform 0.3s ease-in-out;
}

nav.menuAberto #linksNavegacao li:hover {
    background-color: rgba(191, 180, 218, 0.151);
    width: 90vw;
    transform: scale(1.02);
    cursor: pointer;
}

nav.menuAberto {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto; 
    background: rgba(42, 31, 68, 0.8) url('../media/backgroundBody.jpg') center / cover;
    backdrop-filter: blur(10px);     
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav.menuAberto #menuHamburguer {
    display: none;
}

nav.menuAberto #linksNavegacao,
nav.menuAberto #fecharMenu {
    display: block;
}

nav.menuAberto #linksNavegacao li:hover {
    background-color: rgba(219, 193, 246, 0.50);
}

nav.menuAberto #linksNavegacao li.ativo {
    background-color: rgba(219, 193, 246, 0.50);
}

/* MAIN */
.divisoria{
    width: 100%;
    height: 30px;
    background: linear-gradient(
        to right, 
        var(--roxo8),
        var(--roxo7)
    );
}

.estrelaEnfeite {
    width: 30px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main #sobre {
    background: linear-gradient(
        to bottom, 
        var(--roxo4), 
        var(--roxo6)  
    );
}

main #sobre h1 {
    font-family: var(--tituloPrincipal);
    font-size: 4em;
    color: var(--roxo8);
    text-align: center;
    margin: 30px 0;
}

main #sobre p {
    font-family: var(--textoComum);
    font-size: 1.2em;
    font-weight: bold;
    font-style: italic;
    color: var(--roxo8);
    text-align: center;
}

main #sobre #dev {
    color: var(--roxo1);
    font-weight: bold;
}

main #sobre .subtitulo {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar 0.7s infinite;
}

main .fotoPerfil {
    margin: 30px;
    width: 90vw;
    height: auto;
    border-radius: 10px 100px;
    border: solid 5px rgba(15, 3, 44, 0.63);
}